@page
@model Kinopoisk.MVC.Pages.Films.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="~/css/Films/details.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <img src="@Model.Film.Poster" class="w-100 h-auto"/>
        </div>
        <div class="col ms-3 w-100">
            <div class="row d-flex justify-content-between">
                <h1 class="fw-bolder col">@Model.Film.Name (@Model.Film.PublishDate.Year)</h1>
                <div class="col text-end me-5">

                    <h2 id="filmRating" class="text-warning fw-bolder "></h2>

                    <div class="rating-container">
                        <form id="ratingForm" method="post">
                            <input type="hidden" name="Rating.FilmId" value="@Model.Film.Id" />

                            <div class="star-rating">
                                @for (int i = 10; i >= 1; i--)
                                {
                                    <input type="radio" id="star-@i" name="Rating.Value" value="@i"/>
                                    <label for="star-@i" title="@i stars">
                                        <i class="fas fa-star"></i>
                                    </label>
                                }
                            </div>

                            <button type="submit" class="btn btn-sm btn-primary mt-2">Rate Film</button>
                        </form>
                    </div>

                </div>
            </div>

            <h4 class="mt-3">@Model.Film.Description</h4>

            <p class="fw-bolder mt-3">About film:</p>
            <div class="row">
                <div class="col-9">
                    <table>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">Publish year:</strong></td>
                            <td class="ms-1">@Model.Film.PublishDate.Year</td>
                        </tr>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">@Html.DisplayNameFor(m => m.Film.Country):</strong></td>
                            <td class="ms-1"><img src="@Model.Film.Country?.Flag" style="margin-right:5px;">@Model.Film.Country</td>
                        </tr>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">@Html.DisplayNameFor(m => m.Film.Genres):</strong></td>
                            <td class="ms-1">@string.Join(", ", Model.Film.Genres.Select(g => g.Genre.Name))</td>
                        </tr>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">@Html.DisplayNameFor(m => m.Film.Description):</strong></td>
                            <td class="ms-1">@Model.Film.Description</td>
                        </tr>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">@Html.DisplayNameFor(m => m.Film.Duration):</strong></td>
                            <td class="ms-1">@Model.Film.Duration</td>
                        </tr>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">@Html.DisplayNameFor(m => m.Film.IMDBRating):</strong></td>
                            <td class="ms-1">@Model.Film.IMDBRating</td>
                        </tr>
                        <tr class="mb-5">
                            <td><strong class="text-secondary">@Html.DisplayNameFor(m => m.Film.Director.FilmEmployee.Name):</strong></td>
                            <td class="ms-1">@Model.Film.Director.FilmEmployee.Name</td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <h4><strong>Starring ></strong></h4>
                    @foreach (var actor in Model.Film.Actors)
                    {
                        <b>@actor.FilmEmployee.Name</b>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="row d-flex justify-content-between">
            <h4 class="mb-3 col">Comments: </h4>
            <button class="btn btn-primary mb-3 col-1 h-25" data-bs-toggle="modal" data-bs-target="#addCommentModal">
                Add Comment
            </button>
        </div>

        <table id="comments-container" class="display" data-film-id="@Model.Film.Id">
            <thead>
                <tr class="text-primary text-center">
                    <th>Author</th>
                    <th>Comment</th>
                    <th>Created At</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addCommentForm" method="post" asp-page-handler="AddComment">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCommentModalLabel">Add Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Comment.FilmId" value="@Model.Film.Id" />
                    <div class="mb-3">
                        <label for="Text" class="form-label">Comment</label>
                        <textarea name="Comment.Text" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts 
{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/js/Films/details.js"></script>
}